html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%;
}
legend {
  color: #000;
}
input[type=button],
input[type=submit],
input[type=reset] {
  -webkit-appearance: none;
}
body {
  min-width: 1010px;
  font: normal 12px/1.5 "PingFang SC", arial, "Microsoft Yahei", tahoma, sans-serif;
}
strong,
b {
  font-weight: bold;
}
textarea,
input {
  resize: none;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 12px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.hidden {
  display: none;
}
.iframe-blank {
  border: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0px;
  opacity: 0;
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  display: block;
}