.a {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(236, 149, 149);
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 320px;
    height: 418px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
}
