.line1 {
    background-color: #f1f1f1;
    font-size: 50px;
}

.b {
    display: inline-block;
    vertical-align: bottom;
    background-color: aquamarine;
    line-height: 80px;
}

.f20 {
    background-color: red;
    font-size: 50px;
    vertical-align: baseline;
}

.f30 {
    background-color: forestgreen;
    font-size: 100px;
    vertical-align: baseline;
}

.f40 {
    background-color: yellowgreen;
    font-size: 150px;
    vertical-align: baseline;
}