#root {
}

#root>div {
    padding: 5px;
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid #000;
    
}

.block {
    background-color: #000;
    opacity: 0;
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    height: 100%;
}

#root div.show {
    opacity: 1;
}

#root div.hide {
    opacity: 0;
    transition: 5s;
}





