html
	head
		title= "贪吃蛇游戏"
		meta(charset='UTF-8')
		link(rel='stylesheet', href='static/css/base.css')
		link(rel='stylesheet', href='snake/static/css/index.css')
		script(src='static/vendor/jquery.js')
		script(src='snake/static/js/index.js')
	body
		div#root
			- var xNum = 0;
			- for(; xNum < num; xNum++) 
				div(style=xNum % x === 0 ? 'clear: left' : '')
					div(id=xNum class='block')