<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./js/jquery.js"></script>
    <script src="./js/underscore.js"></script>
    <script src="./js/backbone.js"></script>
    <script src="./js/index.js"></script>
    <link href="./index.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
    <div id="root">

    </div>

    <script type="text/template" id="container">
        <div class="tabs"></div>
        <div class="contents"></div>
    </script>
    <script type="text/template" id="tab_1">
        tab_1<%= name %>
    </script>
    <script type="text/template" id="tab_2">
        tab_2<%= name %>
    </script>
    <script type="text/template" id="content_1">
        content_1
    </script>
    <script type="text/template" id="content_2">
        content_2
    </script>
</body>
</html>