.item {
    border: 1px black solid;
}

.selected {
    background-color: blueviolet;
}

.contents div {
    display: none;
}

.contents div.selected {
    display: block;
    background-color: transparent;
}